<div class="carousel carousel-slider center" materialize="carousel">
  <div class="carousel-item" href="#one!">
    <h2>Não é camaro</h2>
    <p>This is your first panel</p>
    <img class="carros" src="../../assets/carro1.png">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">Locar</a>
    </div>
  </div>
  <div class="carousel-item" href="#two!">
    <h2>Camaro branco</h2>
    <p>This is your second panel</p>
    <img class="carros" src="../../assets/carro2.png">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">Locar</a>
    </div>
  </div>
  <div class="carousel-item" href="#three!">
    <h2>Camaro antigo</h2>
    <p>This is your third panel</p>
    <img class="carros" src="../../assets/carro3.png">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">Locar</a>
    </div>
  </div>
  <div class="carousel-item" href="#four!">
    <h2>Camaro preto</h2>
    <p>This is your fourth panel</p>
    <img class="carros" src="../../assets/carro4.png">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">Locar</a>
    </div>
  </div>
  <div class="carousel-item" href="#fofiveur!">
    <h2>Camaro do Munhoz</h2>
    <p>This is your fifth panel</p>
    <img class="carros" src="../../assets/carro5.png">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">Locar</a>
    </div>
  </div>
</div>

<div class="carousel" materialize="carousel">
  <a class="carousel-item" href="#one!"><img src="../../assets/carro1.png"></a>
  <a class="carousel-item" href="#two!"><img src="../../assets/carro2.png"></a>
  <a class="carousel-item" href="#three!"><img src="../../assets/carro3.png"></a>
  <a class="carousel-item" href="#four!"><img src="../../assets/carro4.png"></a>
  <a class="carousel-item" href="#five!"><img src="../../assets/carro5.png"></a>
</div>

