div.carousel.carousel-slider.center
div.carousel-item.white-text
img.carros {
    width: 40%;
    margin-top: -20px;
    margin-left: 20%;
}
div.carousel.carousel-slider.center
div.carousel-item.white-text
div.statusCarro {
    border: solid 1px #e65100;
    padding: 0px 10px 0px 10px;
    border-radius: 5%;
    box-shadow: 2px 2px 40px #e65100;
    position: fixed;
    margin-left: 20%;
    text-align: left;
}

div.carousel.carousel-slider.center
div.carousel-item.white-text
div.statusCarro
b.statusTitle {
    color: #e65100;
}