<div class="container">

  <h2>Clientes</h2>

    <div class="row">
      <div class="col m12">

        <button class="btn waves-effect waves-light #e65100 orange darken-4" [routerLink]="['cadastrar']" name="action">Adicionar
          <i class="material-icons right">add</i>
        </button>
      </div>
      <div class="col m12">

        <div class="card-panel">
          <table class=" striped centered bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>CPF</th>
                <th>CNPJ</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let cliente of clientes" >
                <td>{{cliente?.nome}}</td>
                <td>{{cliente?.cpf}}</td>
                <td>{{cliente?.cnpj}}</td>
                <td>
                  <a class="btn-floating btn-small waves-effect waves-light #e65100 orange darken-4" [routerLink]="['edit', cliente?.id_cliente]"><i class="material-icons">search</i></a>
                  <a class="btn-floating btn-small waves-effect waves-light #e65100 orange darken-4" (click)="deletarCliente(cliente?.id_cliente)"><i class="material-icons">delete</i></a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
