<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="card-panel">
        <h5>ADICIONAR CLIENTE</h5>
        <form materialize #formCliente="ngForm" (ngSubmit)="salvarCliente(formCliente)">
          <div class="row">
            <div class="input-field col s3">
              <p class="tipCliente">Tipo cliente</p>
              <p class="inputRadio" (click)="mudarPessoa('Pessoa Física')">
                <input type="radio" class="with-gap" name="group1" value="Pessoa Física" [(ngModel)]="cliente.id_tipo_cliente" />
                <label for="nome">Pessoa Física</label>
              </p>
              <p class="inputRadio" (click)="mudarPessoa('Pessoa Jurídica')">
                <input type="radio" class="with-gap" name="group1" value="Pessoa Jurídica" [(ngModel)]="cliente.id_tipo_cliente" />
                <label for="first_name">Pessoa Jurídica</label>
              </p>
            </div>
            <div class="input-field col s3" >
                <input id="nome" [(ngModel)]="cliente.nome" name="nome" type="text" class="validate" placeholder="Nome">
                <label for="nome">Nome</label>
            </div>
            <div class="input-field col s3" *ngIf="cliente.id_tipo_cliente === 'Pessoa Física'" >
              <input name="cnh" [(ngModel)]="cliente.cnh" type="text" class="validate" placeholder="Cnh">
              <label for="first_name">CNH</label>
            </div>
            <div class="input-field col s3" *ngIf="cliente.id_tipo_cliente === 'Pessoa Física'" >
              <input name="cpf" [(ngModel)]="cliente.cpf" type="text" class="validate" placeholder="Cpf">
              <label for="first_name">CPF</label>
            </div>
            <div class="input-field col s3" *ngIf="cliente.id_tipo_cliente === 'Pessoa Jurídica'" >
              <input name="cnpj" [(ngModel)]="cliente.cnpj" type="text" class="validate" placeholder="Cnpj">
              <label for="first_name">CNPJ</label>
            </div>
          </div>
          <div class="row">
            <div class="col s6 card">
                <span class="card-title">Telefones</span>
              <div class="class card-content">
                <form #formTelefone="ngForm" (ngSubmit)="salvarTelefone(formTelefone)">
                  <div class="input-field col s10">
                      <i class="material-icons prefix">phone</i>
                      <input name="telefone" ngModel type="text" class="validate">
                      <label for="first_name">Telefone</label>
                    </div>
                    <div class="class col s2">
                      <br>
                        <button class="btn-floating  waves-effect waves-light #e65100 orange darken-4" type="submit"><i class="material-icons">add</i></button>
                    </div>
                  </form>
                  <table class="striped" *ngIf="newTelefones.length > 0" >
                    <thead>
                      <tr>
                        <th>Telefones</th>
                        <th>Deletar</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let tel of newTelefones; index as i" >
                        <td>{{tel.telefone}}</td>
                        <td><a class="btn-floating btn-small waves-effect waves-light #e65100 orange darken-4" (click)="deleteTelefone(i)"><i class="material-icons">delete</i></a></td>
                      </tr>
                    </tbody>
                  </table>
              </div>

            </div>
            <div class="col s6 card">
                <span class="card-title">Emails</span>
              <div class="class card-content">
                  <form #formEmail="ngForm" (ngSubmit)="salvarEmail(formEmail)">
                  <div class="input-field col s10">
                      <i class="material-icons prefix">email</i>
                      <input name="email" ngModel type="email" class="validate">
                      <label for="first_name">Email</label>
                  </div>

                  <div class="class col s2">
                      <br>
                      <button class="btn-floating  waves-effect waves-light #e65100 orange darken-4" type="submit"><i class="material-icons">add</i></button>
                  </div>
                </form>
                  <table class="striped" *ngIf="newEmails.length > 0" >
                    <thead>
                      <tr>
                        <th>E-mails</th>
                        <th>Deletar</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let email of newEmails; index as i" >
                        <td>{{email.email}}</td>
                        <td><a class="btn-floating btn-small waves-effect waves-light #e65100 orange darken-4" (click)="deleteEmail(i)"><i class="material-icons">delete</i></a></td>
                      </tr>
                    </tbody>
                  </table>
              </div>

            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light #e65100 orange darken-4 right" type="submit" name="action">Cadastrar
              cliente
              <i class="material-icons right">add</i>
            </button>
          </div>

        </form>
      </div>
    </form>
  </div>
</div>
