/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
}
h2 {
    color: white;
}
table {
    color:white  
}

.container {
    margin-top: 5%;
}
input{
    color:  white;
}

button {
    margin-bottom: 4%;
}


