<div class="carousel carousel-slider center" materialize="carousel">
  <div class="carousel-item white-text">
    <h2>{{veiculo.modelo}}</h2>
    <div class="statusCarro">
      <p class="white-text"><b class="statusTitle">Qtd. portas:</b> {{veiculo.num_portas}}</p>
      <p class="white-text"><b class="statusTitle">Tipo de combustível:</b> {{veiculo.combustivel}}</p>
      <p class="white-text"><b class="statusTitle">Tanque:</b> {{veiculo.tanque}} L</p>
      <p class="white-text"><b class="statusTitle">Lugares:</b> {{veiculo.lugares}}</p>
      <p class="white-text"><b class="statusTitle">Transmissão:</b> {{veiculo.transmissao}}</p>
      <h2>Diária: {{veiculo.valor | currency:'BRL':true}}</h2>
    </div>
    <img class="carros" src="../../assets/{{veiculo.imagem}}.png">
    <img *ngIf="!veiculo.disponivel"  class="indisponivel" src="../../assets/indisponivel.png">
    <div class="carousel-fixed-item center">
      <button class="btn waves-effect #e65100 orange darken-4 white-text darken-text-2" 
      [disabled]="!veiculo.disponivel"
      (click)="alugar(veiculo.renavam)"
      >Alugar</button>
    </div>
  </div>
  </div>
  